/* 전체 레이아웃 설정 */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px;
}
/* CSS for Detail Page */
.detail-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.detail-float-left {
  flex: 1;
  margin-right: 20px;
}

.product-image {
  width: 100%;
  max-width: 400px; /* 이미지 크기 제한 */
}

.detail-float-right {
  flex: 1;
}

.product-kind,
.product-name,
.product-price {
  margin-bottom: 10px;
}

.product-kind {
  font-size: 18px;
  font-weight: bold;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: ;
}

.product-price {
  font-size: 20px;
  color: #0044ff;
  margin-bottom: 20px;
}

.detail-options {
  margin-bottom: 20px;
}

.label-text {
  font-weight: bold;
}

.select-label {
  display: block;
  margin-bottom: 10px;
}

.quantity-input {
  width: 60px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-button,
.cart-button {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.cart-button {
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
}

.order-button {
  background-color: #333;
  color: #fff;
  border: none;
}

/* 상품 삭제 버튼 */
.delete-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  visibility: visible;
}

.delete-button:hover {
  background-color: darkred;
}
