/* 전체 레이아웃 및 페이지 스타일 */

/* 네비 스타일 */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #696868;
}

.navbar-logo {
  font-size: 2rem;
  color: #eecfcf;
  text-decoration: none;
}

.menu-icon {
  display: none;
  /* 초기에는 숨김 */
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links-mobile {
  display: none;
}

/* 메인 콘텐츠 스타일 */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex: 1;
}

.welcome-section {
  max-width: 500px;
}

.welcome-section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.learn-more-btn {
  background-color: #ff6b6b;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #ff4c4c;
}

/* 로그인 폼 스타일 */
.login-form-container {
  background-color: rgba(153, 148, 148, 0.1);
  padding: 60px;
  /* 패딩을 줄임 */
  border-radius: 20px;
  max-width: 450px;
  /* 최대 너비를 줄임 */
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #e6dada;
  margin: auto;
  /* 중앙 정렬 */
}

.login-form-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(68, 67, 67);
  font-size: 1rem;
}

.login-input::placeholder {
  color: #ccc;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #ff6b6b, #ff3d3d);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: linear-gradient(to right, #ff3d3d, #ff6b6b);
}

.option_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  padding: 10px;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.forgot_pw {
  color: #ff6b6b;
  text-decoration: none;
}

.forgot_pw:hover {
  text-decoration: underline;
}

.login_signup {
  margin-top: 30px;
  font-size: 0.9rem;
  padding: 3px;
}

.login_signup a {
  color: #ff6b6b;
  text-decoration: none;
}

.login_signup a:hover {
  text-decoration: underline;
}

/* 푸터 스타일 */
.footer {
  background-color: #0a1630;
  height: 150px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer p {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-links li {
  margin-left: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

/* 반응형 웹 디자인 */
@media screen and (max-width: 960px) {

  .navbar-container {
    flex-direction: column;
    height: auto;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #333;
    left: 0;
    opacity: 1;
    z-index: 1;
  }

  .nav-links {
    padding: 2rem;
    width: 100%;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
  }

  .content-wrapper {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .welcome-section h1 {
    font-size: 2.5rem;
  }

  .login-form-container {
    max-width: 320px;
    padding: 20px;
    margin-top: 5%;
  }

  .login-input {
    max-width: 290px;
  }

  .option_field {
    max-width: 320px;
    padding: 10px;
    text-align: center;
  }

  .submit-btn {
    font-size: 1rem;
    padding: 10px;
  }

  .footer {
    height: 100px;
    position: relative;
  }
}